/* frontend/src/components/Layout/MobileContainer.css */
.mobile-container {
  margin: 0 auto;
  min-height: 100vh;
  background-color: #f4f6f8; /* Cinza bem claro da imagem */
  font-family: sans-serif;
  max-width: 400px;
  position: relative;
}

/* O "Header" azul escuro da imagem */
.header-azul {
  background-color: #0b1e36;
  color: white;
  padding: 30px 20px 80px; /* Esse padding extra cria espaço para o card branco */
}